[user]
pinned=/usr/share/applications/firefox.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/xfce-settings-manager.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/xfce4-appfinder.desktop
